doctype html
html
    head
        link(rel='stylesheet' href='styles/css/styles.css')
        title Mi sitio con PUG
    body
        include components/main-header/main-header.pug
        include components/sidebar-one/sidebar-one.pug
        include components/main-container/main-container.pug
        include components/sidebar-two/sidebar-two.pug
        include components/main-footer/main-footer.pug
        